.resNavUl{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 30px;

}

.resNavUl > li img{

    width: 7vmin;
    height: 7vmin;
    object-fit: cover;

}

.resNavUl > li img{

    padding: 10px 8px 10px 8px;

}
