*{

    margin: 0;
    padding: 0;

}

::selection{

    background-color: #efcb55;
    color: #292929;

}

body{

    background-color: #292929;

}

::-webkit-scrollbar{

    width: 18px;

}

::-webkit-scrollbar-thumb{

    background-image: linear-gradient(250deg, #fcfaea 50%, #efcb55 50%);
    border-radius: 50px;

}