.certificateImageStyle{

    width: 100%;
    height: 100%;

}

.certificateImageStyle a > img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 50px;
    border-radius: 50px;
    /* box-shadow: 5px 5px 20px #efcb55; */
    border: 20px double #fcfaea;

}