.certificationListContainer{

    height: 100%;
    white-space: nowrap;
    margin-left: -50px;

}

.certificationListContainer > .subCertificateList{

    width: 600px;
    animation: certificateAnimation 5s linear infinite;

}

.certificationListContainer:hover .subCertificateList{

    animation-play-state: paused;

}

@keyframes certificateAnimation {

    from{

        transform: translateY(0%);

    }to{

        transform: translateY(-100%);

    }
    
}

@media only screen and (max-width: 600px){

    .certificationListContainer > .subCertificateList{

        width: 80vmin;

    }

}