.container{

    width: 100%;
    height: 100vmin;
    background-color: #fcfaea;
    overflow: hidden;

}

/* MOBILE VIEW */

@media only  screen and (max-width: 600px) {

    .container{

        height: 220vmin;
        overflow: hidden;

    }
    
}