@font-face {
    font-family: contactfont;
    src: url('../fonts/gridstar-font/GridstarRegular-ovOax.otf');
}

@font-face {
    font-family: contactinfofont;
    src: url('../fonts/lato/Lato-Medium.ttf');
}

:root{

    --main-color: #292929;
    --primary-color: #efcb55;
    --secondary-color: #f5e293;
    --third-color: #fcfaea;

}

.contactContainer{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contactContainer > .contactHeading{

    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.contactHeading > h2{

    font-family: 'contactfont';
    font-size: 50px;
    letter-spacing: 10px;

}

.contactHeading h2 > .spanContactHeading{

    background-color: var(--primary-color);
    padding: 0px 20px;
    color: var(--third-color);
    text-shadow: 2px 2px 2px var(--main-color);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

.contactContainer > .contactInformationContainer{

    width: 80%;
    height: 80%;
    display: flex;
    /* background-color: #efcb55; */
    overflow: hidden;

}

.contactInformationContainer > .contactDetails{

    width: 10%;
    height: 100%;
    background-color: #292929;
    color: var(--third-color);
    overflow: hidden;

}

.contactInformationContainer > .contactMap{

    width: 50%;
    height: 100%;
    overflow: hidden;

}

.contactInformationContainer > .contactForm{

    width: 40%;
    height: 100%;
    background-color: #292929;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.contactForm > form label{

    color: var(--primary-color);
    font-family: 'contactinfofont';
    letter-spacing: 5px;
    font-size: 15px;

}

.contactForm > form input{

    width: 400px;
    height: 30px;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: var(--third-color);
    padding-left: 5px;

}

.contactForm > form textarea{

    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    resize: none;
    padding: 5px 0px 0px 5px;

}

.contactForm > form button{

    width: 200px;
    height: 30px;
    background-color: #efcb55;
    outline: none;
    border: none;
    font-family: 'contactinfofont';
    color: var(--main-color);
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.contactForm > form button:hover{

    transform: translateY(-1px) scale(1.02);
    filter: drop-shadow(2px 2px 5px var(--primary-color));
    color: #fcfaea;

}

.contactForm form > .errorMessageStyle{

    color: #fcfaea;;
    position: relative;
    margin-bottom: -12px;
    margin-top: 10px;
    font-family: 'contactinfofont';
    letter-spacing: 2px;
    font-size: 14px; 

}

::placeholder{

    font-family: 'contactinfofont';

}

.contactDetails > .contactsInfo:nth-child(1){

    writing-mode: sideways-lr;
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 50px;
    font-family: 'contactinfofont';
    font-size: 17px;

}

.contactDetails > .contactsInfo:nth-child(2){

    writing-mode: sideways-lr;
    margin-bottom: 20%;
    margin-left: 50px;
    font-family: 'contactinfofont';
    font-size: 17px;

}

.contactDetails > .contactsInfo:nth-child(3){

    writing-mode: sideways-lr;
    margin-bottom: 20%;
    margin-left: 50px;
    font-family: 'contactinfofont';
    font-size: 17px;

}

.submittingstyle{

    color: #fcfaea;
    font-family: 'contactinfofont';
    margin-bottom: 20px;

}

/** MOBILE VIEW */

@media only screen and (max-width: 600px){

    .contactContainer > .contactHeading{

        text-align: center;

    }

    .contactHeading > h2{

        font-size: 11vmin;
        letter-spacing: 1.5vmin;

    }

    .contactHeading h2 > .spanContactHeading{

        font-size: 10vmin;
        display: inline-flex;
        justify-content: center;
        width: 60vmin;
        height: 13vmin;
        border-right: 5px solid #fcfaea;
        border-bottom: 5px solid #fcfaea;
        box-shadow: 2px 2px 5px #292929;

    }

    .contactContainer > .contactInformationContainer{

        display: none;

    }

    .contactContainer > .mobileContactFormSection{
        
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

@media only screen and (min-width: 600px){

    .contactContainer > .mobileContactFormSection{

        display: none;

    }

}