@font-face {
    font-family: experiencefont;
    src: url('../fonts/gridstar-font/GridstarRegular-ovOax.otf');
}

@font-face {
    font-family: experiencetextfont;
    src: url('../fonts/lato/Lato-Medium.ttf');
}

.experienceContainer{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}

.experienceContainer > .experienceHeading{

    background-image: linear-gradient(150deg, #efcb55 55%, #292929 50%);
    width: 100%;
    color: #fcfaea;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.experienceHeading > h2{

    font-family: 'experiencefont';
    font-size: 50px;
    letter-spacing: 40px;

}

.experienceContainer > .experienceContent{

    height: 80%;
    background-color: #292929;
    width: 100%;
    border: 1px solid #292929;

}

.experienceContent > .experienceContentHeading{

    background-image: linear-gradient(-150deg, #fcfaea 25%, #292929 50%);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.experienceContentHeading > .experienceContentText:nth-child(1){

    padding-left: 20px;

}


.experienceContentText:nth-child(1) > h3{

    font-size: 30px;
    font-family: 'experiencefont';
    letter-spacing: 5px;
    background-color: #fcfaea;
    padding: 0px 20px;

}

.experienceContentHeading > .experienceContentText:nth-child(2){

    padding-right: 20px;

}

.experienceContentText:nth-child(2) > span{

    font-size: 20px;
    font-family: 'experiencefont';
    letter-spacing: 5px;

}
