@font-face {
    font-family: 'footerfont';
    src: url('../fonts/rockia-font/RockiaRegular-gw561.otf');
}

@font-face {
    font-family: 'footercopyrightfont';
    src: url('../fonts/lato/Lato-Medium.ttf');
}

:root{

    --main-color: #292929;
    --primary-color: #efcb55;
    --secondary-color: #f5e293;
    --third-color: #fcfaea;

}

.footerContainer{

    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--main-color);
    background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");
    overflow: hidden;
    border-top: 20px solid var(--third-color);

}

.footerContainer > .footerContent{

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerContainer .footerContent > p{

    font-size: 70px;
    font-family: 'footerfont';
    letter-spacing: 50px;
    color: var(--primary-color);
    width: 620px;
    background-color:var();
    text-align: center;
    padding: 0px 30px;

}

.footerContainer > .footerCopyright{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.footerContainer > .footerCopyright p{

   font-size: 20px;
   font-family: 'footercopyrightfont';
   color: var(--third-color);
   letter-spacing: 5px;

}

.footerContainer > .footerLogo{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    gap: 70px;

}

.footerLogo > a{

    font-size: 20px;
    background-color: var(--third-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    /* border-radius: 50px; */

}

@media only screen and (max-width: 600px){

    .footerContainer {

        display: flex;
        flex-direction: column;
        gap: 0px;

    }

    .footerContainer > .footerCopyright {

        width: 100%;
        height: 50vmin;
        padding-top: 0px;
        margin-top: 0px;

    }

    .footerContainer > .footerCopyright p{

        font-size: 5vmin;

    }

    .footerContainer > .footerContent{

        background-color: #fcfaea;
        width: 100%;
        height: 20vmin;

    }

    .footerContainer > .footerContent p{

        font-size: 10vmin;
        letter-spacing: 2vmin;
        color: #efcb55;

    }

    .footerContainer > .footerLogo{

        width: 100%;
        display: flex;
        gap: 10vmin;

    }

    .footerLogo > a{

        background-color: transparent;
        color: #fcfaea;
        font-size: 7vmin;

    }

}