@font-face {
    font-family: portfoliofont;
    src: url('../fonts/lato/Lato-Semibold.ttf');
}

@font-face{

    font-family: logofont;
    src: url('../fonts/rockia-font/RockiaRegular-gw561.otf');

}

.header{

    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: #fcfaea;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.158); */

}

.header > .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 100%;

}

.logo{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.logo > h1{

    font-family: 'logofont';
    color: #292929;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 100;

}

.logo h1 > .logoLinkStyle {

    text-decoration: none;
    color: #efcb55

}

.menu{

    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'portfoliofont';

}

.menu > nav{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

nav > .unorderNavList {

    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 100;
    gap: 10px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;

}

.unorderNavList > li{

    letter-spacing: 2px;
    /* background-color: #efcb55; */
    padding: 0px 10px;
    overflow: hidden;

}

.unorderNavList li > a{

    text-decoration: none;
    color: #292929;
    position: relative;
    height: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;

}

.unorderNavList li > a::before{

    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #292929;
    /* top: 0; */
   
    transition: all 0.8s ease;
    z-index: -2;

}

.unorderNavList li > a:hover{

    color: #fcfaea;

}

.unorderNavList li > a:hover::before{

    width: 100%;
    height: 100%;
    padding: 5px 15px;

}





