.carouselContainer{

    width: 100%;
    height: 100%;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;

}

.carouselContainer > .subCarouselContainer{

    display: flex;
    animation: projectcarouesl 15s linear infinite;

}

.carouselContainer:hover .subCarouselContainer{

    animation-play-state: paused;

}

@keyframes projectcarouesl {
    
    from{

        transform: translateX(0%);

    }to{

        transform: translateX(-100%);

    }

}

@media only screen and (max-width: 600px){

    .carouselContainer{

        display: flex;
        align-items: center;

    }

    .carouselContainer:hover .subCarouselContainer{

        animation-play-state: running;

    }

}