@font-face {
    font-family: 'projectfont';
    src: url('../fonts/gridstar-font/GridstarRegular-ovOax.otf');
}

:root{

    --main-color: #292929;
    --primary-color: #efcb55;
    --secondary-color: #f5e293;
    --light-color: #fcfaea;

}

.projectContainer{

    width: 100%;
    height: 100%;

}

.projectContainer > .projectContainerSection{

    width: 100%;
    height: 20%;
    background-color: #fcfaea;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.projectContainerSection > .projectHeading{

    font-size: 50px;
    text-align: center;
    font-family: 'projectfont';
    color: #292929;
    letter-spacing: 10px;

}

.projectHeading > .projectHeadingSpan{

    background-color: var(--primary-color);
    padding: 10px  20px;
    color: var(--light-color);
    text-shadow: 2px 2px 2px var(--main-color);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

}

.projectContainer > .projectShowCaseContainer{

    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.projectShowCaseContainer > .subProjectShowCaseContainer{

    width: 90%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;

}

.subProjectShowCaseContainer > .projectIframeCustomStyle{

    width: 350px;
    height: 500px;
    overflow: hidden;
    cursor: pointer;

}

/* .projectIframeCustomStyle a > img{

    width: 100%;
    height: 200vh;
    object-fit: contain;
    object-position: top;

}  */


@media only screen and (max-width: 600px){

    .projectContainer{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .projectContainer > .projectContainerSection > {

        width: 100%;

    }

    .projectContainerSection > .projectHeading{

        font-size: 9vmin;
        line-height: 15vmin;
        letter-spacing: 2vmin;
        text-align: center;

    }

    .projectHeading > .projectHeadingSpan{

        border-right: 5px solid #fcfaea;
        border-bottom: 5px solid #fcfaea;
        box-shadow: 5px 5px 10px #292929;
        font-size: 6vmin;
        letter-spacing: 1.5vmin;
        display: inline-flex;
        width: 65vmin;
        height: 13vmin;
        justify-content: center;
        align-items: center;
        padding: 0px;

    }

    .projectContainer > .projectShowCaseContainer{

        overflow: hidden;
        width: 100vmin;
        display: flex;
        align-items: center;
        height: 170vmin;

    }

}
