.imageDiv{

    width: 350px;
    height: 95%;
    overflow: hidden;
    margin-right: 20px;

}

.projectImages{

    width: 100%;
    height: calc(95% * 100%);
    object-fit: cover;
    object-position: top;

}

@media only screen and (max-width: 600px){

    .imageDiv{

       height: 100%;

    }

}